body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  width: 560px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.memory-table, .registers, .flags {
    width: 100%;
}

.memory-table th,
.memory-table td {
    box-sizing: border-box;
    width: 5.88%;
    text-align: left;
}

.registers th,
.registers td {
    box-sizing: border-box;
    width: 20%;
    text-align: left;
}

.flags th,
.flags td {
    box-sizing: border-box;
    width: 14.286%;
    text-align: left;
}

#screen {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}